{% extends 'base/base.html' %}

{% block content %}
<h3>Sobre Nós</h3>

<hr/>
<div>
    <img src="../../media/sobre.jpg" alt="dekori" align="center"/>
<br/>
</div>

<div style="text-align: justify;
    text-justify: inter-word;">
    <br/>
    <p>
         Três amigas apaixonadas por festas resolveram se juntar para facilitar
        a sua vida na hora de organizar ‘aquela’ festinha.
    </p>

    <p>
        Depois de sofrer um monte em busca de itens que aliassem bom gosto, facilidade e modernidade,
        as três amigas decidiram por criar a Dekori e com ela, proporcionar festas mais
        criativas, alegres e fáceis para aquelas que também são apaixonadas por festas.
    </p>
    <p>
        Através da Dekori – você também pode decorar por conta própria a sua festa utilizando de
        acessórios coloridos, modernos e super charmosos que transformam qualquer bolinho em uma bela mesa!
    </p>
    <p>
        Além dos coloridos suportes para doces e bolos, a Dekori pode te ajudar com as toalhas,
        passadeiras, sousplat, guardanapos e porta guardanapos. Tudo bem organizado, limpo e
        cheiroso para você não ter muito trabalho nem dor de cabeça.<br/>
        Sem falar na facilidade que é para encontrar a Dekori e reservar o seu material. Estamos disponíveis no facebook, instagram e whatsapp, acompanhando e postando tudo que é de novidade nesse universo.

    </p>
    <p>
        Você também pode entrar em <a href="#">contato</a> com a gente pelo email, pelos celulares e por este site.  Fique à vontade!
    </p>
</div>

{% endblock %}